body { background-image:url(images/fundos/fundo3.png); background-color:#B5D5E6}

#esq { float:left}

#dir { float:right}
#dir h1 { cursor:move}

#ident {width:428px; height:100%}
#ident a {text-decoration:underline}
#identsingle {width:680px; height:100%}

#perfil {width:236px; height:100%; margin-bottom:12px;}
#perfil img{width:100%}

#post {width:236px; height:100%; margin-bottom:12px}

#arquivos {width:236px; height:100%; margin-bottom:12px;}

#link {width:236px; height:100%; margin-bottom:12px;}

#tag {width:236px; height:100%; margin-bottom:12px;}

#nova_postagem {width:680px; background-color:#F4FFDD}

.titulo {font-size:14px; font-weight:600; float:left; display:table-cell;}

.data {float:right; display:table-cell;}

.tabela_blog {display:table; width:100%; margin-bottom:15px}
.tabela_blog p {display:table-cell; width:100%; float:left}
.tabela_blog a {float:left}
.tabela_blog img { margin-left:3px; margin-right:3px; cursor:pointer}
.tabela_blog img:hover {}
.bts_caixa {float:right}

.mais_blog {display:table; width:100%;}

.tabela_oculta {display:none}

.no_underline {text-decoration: none}

.post_ano {width:100%; margin-bottom:15px; background-image:url(images/botoes/seta_fechado.png); background-repeat:no-repeat; text-indent:12px;}

.post_mes {width:100%; margin-bottom:15px; background-image:url(images/botoes/seta_fechado.png); background-repeat:no-repeat; text-indent:12px; margin-left:15px;}

.post_topico {width:100%; margin-bottom:15px; background-image:url(images/botoes/seta_fechado.png); background-repeat:no-repeat; text-indent:12px; margin-left:30px;}

.mais_link {float:right; display:table-cell;} 
.mais_link a {font-size:11px; font-weight:bold; 
text-decoration:none; color:#666666; outline:none}
.mais_link a:hover {color:#CC6600;}

#meu_blog {width:216px; margin-right:12px; float:left}

#blog_coletivo {width:216px; margin-right:12px; float:left}

#outros_blogs {width:216px; float:left}

#importar_arq {width:100%; margin-bottom:12px; float:left}

#info_post {width:100%; float:left}

#info_blog {width:398px; height:272px}

#add_colegas {width:266px; margin-bottom:12px;}

#importar {width:64px; height:25px; background-image:url(images/botoes/bt_importar.png); margin-bottom:12px; background-repeat:no-repeat;}
#importar:hover {background-image:url(images/botoes/bt_importar2.png)}

#salvar {width:51px; height:25px; background-image:url(images/botoes/bt_salvar.png); margin-bottom:12px; background-repeat:no-repeat;}
#salvar:hover {background-image:url(images/botoes/bt_salvar2.png)}

.info_importada {width:100%; background-color:#FFFFFF; border:solid 1px #AAA;}
.info_importada input[type=checkbox] {margin:5pt}

.blog_info {width:100%; margin-top:2px; margin-bottom:15px;}
iframe.blog_info {
	margin-top:0px;
	border:solid 1px #74d3ed;
}

.enviado2 {background-color:#ccecf4;}

.exemplo {color:#888; font-size:8pt;}

#procurar_img {width:100%; height:25px; background-image:url(images/botoes/bt_procurar_img.png); background-repeat:no-repeat; background-position:right}
#procurar_img:hover {background-image:url(images/botoes/bt_procurar_img2.png)}
#procurar_img input[type=text] {width:60%; margin-top:2px;}

/* João: Comentado porque interferia com o iframe de upload */
/*#procurar_arq {width:100%; height:25px; background-image:url(images/botoes/bt_procurar_arquivo.png); background-repeat:no-repeat; background-position:right}
#procurar_arq:hover {background-image:url(images/botoes/bt_procurar_arquivo2.png)}
#procurar_arq input[type=text] {width:60%; margin-top:2px;}*/

#meus_coletivos {width:100%; clear:both;}

#blogs_colegas {width:100%; clear:both;}

.lista_esq { display:table-cell; float:left; width:40%; padding:20px}

.lista_dir { display:table-cell; float:right; width:47%; padding:20px}
.lista_dir a { text-decoration:none}
.lista_dir input { margin-left:10px}

.imagem { width:66px; height:20%; background-color:white; border:1px solid #888888; 
float:left; margin-right:15px; display:table-cell}

.mensagens {margin-top:37px}

.criado_por { color:#999999; font-size:10px; margin-top:15px; margin-bottom:15px}

.input_espaco {margin-left:22px}

.bloqueia ul { padding-right:10px}

#cont_img {height:188px; margin-top:15px}

#cont_img1 input[type=text] {width:318px}

#cont_img2 input[type=text] {width:100%}

#cont_img3 {width:456px; max-height:156px; overflow-x:hidden; overflow-y:auto; background-color:#FFF; border:1px solid #CCC}

#link_lbox input[type=text] {width:100%; margin-bottom:15px}

#cont_arq {height:213px; margin-top:15px}

#cont_arq1 input[type=text] {width:318px}

#cont_arq2 {width:456px; max-height:181px; overflow-x:hidden; overflow-y:auto; background-color:#FFFFFF; border:solid 1px #AAA}
#cont_arq2 input[type=checkbox] {margin:5pt}

#liAdicionarArquivo {display: none;}
.cor_comentarios {display:table; width:100%; background-color:#DAEFAA}

#nomeblog {overflow:hidden; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; width: 100%}

.clicavel {cursor:pointer; margin-right:15px}

.mata_comentario{margin-top:10px; color:red}

.img_enviadas{max-height:58px;}

.titulo > a {text-decoration:none !important;} /*titulos dos posts*/
