body,td,th {
	background-image: url("../../images/fundos/fundo7.png");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-color: #A9ABC8 !important;
}
#label_arquivo,
#label_link {
	background: #fff;
	border-color: #74d3ed;
	border-style: solid;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	line-height: 100%;
	padding: 5px 10px;
}
#label_arquivo.checked,
#label_link.checked {
	background: #74d3ed;
}
#label_link {
	border-width: 3px 3px 3px 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#label_arquivo {
	border-width: 3px 0px 3px 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
label {
	font-weight: bold;
}
 
#form_edicao_material,
#form_envio_material {
	font-size: 15px;
	padding: 10px;
}
#editar_material,
#enviar_material {
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	border-color: #74d3ed;
	width: 400px;
	margin: -140px 0 0 -200px;
	z-index: 10;
}
#editar_material h1,
#enviar_material h1 {
	background: #74d3ed;
	color: #000;
}
#form_envio_material div.material_recurso {
	height: 30px;
	margin: 5px;
}
a.abrir_material {
	background: url('../../images/botoes/bt_abrirmaterial.png');
	border: 0 none;
	display: inline-block;
	width: 155px;
	height: 37px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-indent: -370px;
	position: relative;
}
.arquivo .abrir_material .icon,
.link .abrir_material .icon {
	display: inline-block;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 7px;
	right: 7px;
}
ul#ul_materiais li {
	position: relative;
	background: #;
	margin: 5px;
	padding: 5px;
}
ul#ul_materiais li h2 {
	margin: 0;
	padding: 0;
}
ul#ul_materiais li:nth-child(2n+1) {
	background: #cdf4f4;
}
ul#ul_materiais li.nao_aprovado {
	background: #efdede;
}
ul#ul_materiais li.nao_aprovado:nth-child(2n+1) {
	background: #f2cdcd;
}
.arquivo .icon,
.link .icon {
	background: url('../../images/fileicons/unknown.png');
}
/*image*/
.arquivo.image .icon {
	background: url('../../images/fileicons/image.png');
}
.arquivo.image.vnd-adobe-photoshop .icon{
	background: url('../../images/fileicons/image-x-psd.png');
}
/*text*/
.arquivo.text .icon {
	background: url('../../images/fileicons/txt.png');
}
.arquivo.text.html .icon {
	background: url('../../images/fileicons/text-html.png');
}
/*application*/
.arquivo.application .icon {
	background: url('../../images/fileicons/binary.png');
}
.arquivo.application.javascript .icon {
	background: url('../../images/fileicons/application-javascript.png');
}
.arquivo.application.vnd-oasis-opendocument-text .icon {
	background: url('../../images/fileicons/x-office-document.png');
}
.arquivo.application.msword .icon,
.arquivo.application.vnd-openxmlformats-officedocument-wordprocessingml-document .icon {
	background: url('../../images/fileicons/application-msword.png');
}
.arquivo.application.pdf .icon {
	background: url('../../images/fileicons/application-pdf.png');
}
.link .icon {
	background: url('../../images/fileicons/www.png')
}
button[name='aprovar'] {
	background: url('../../images/botoes/bt_aprovar.png');
	border: 0 none;
	text-align: left;
	text-indent: -300px;
	width: 154px;
	height: 47px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
button[name='editar'] {
	background: url('../../images/botoes/bt_editar.png');
	border: 0 none;
	text-align: left;
	text-indent: -300px;
	width: 92px;
	height: 35px;
	overflow: hidden;
}
button[name='excluir'] {
	background: url('../../images/botoes/bt_excluir.png');
	border: 0 none;
	text-align: left;
	text-indent: -300px;
	width: 97px;
	height: 34px;
	overflow: hidden;
}

#file_selector {
	background: #fff;
	border: 1px solid #000;
	z-index: 20;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
}
#file_selector .content_wrapper {
	display: block;
	width: 400px;
	height: 400px;
	position: relative;
}
#file_selector .content_wrapper .newfile_body,
#file_selector .content_wrapper .existingfile_body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}