body,td,th {
	background-image: url("../../images/fundos/fundo7.png");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-color: #A9ABC8 !important;
}
#label_arquivo,
#label_link {
	background: #fff;
	border-color: #74d3ed;
	border-style: solid;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	line-height: 100%;
	padding: 5px 10px;
}
#label_arquivo.checked,
#label_link.checked {
	background: #74d3ed;
}
#label_link {
	border-width: 3px 3px 3px 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#label_arquivo {
	border-width: 3px 0px 3px 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}