body,td,th {
	color: #000000;
	background-repeat:repeat-x; background-attachment:fixed;
	background-image: url("../../images/fundos/fundo7.png");
	background-color: #A9ABC8 !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

table {
	position:relative;
	z-index:3;
}

a:link { 
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
}
a:visited { 
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
}
a:hover { 
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
}
a:active { 
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
}


.descricao_11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
}

.texto_base_12 {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	white-space: normal;
	text-transform: none;
}

.campos_x {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	white-space: normal;
	text-transform: none;
}

.campos_13 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.titulo_menor_15 {
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: bolder;
	height: 0px;
}

.titulos_20 {
	font-size: 20px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	height: 0px;
	line-height: normal;
}

.hrgrande {border: 2px solid #AAA}

.numcomentarios{
	font-size: 12px;
	text-decoration: underline;
	margin-top: 10px;
	cursor: pointer;
}

.pedreiragem{font-size:3px}

.tabela_blog {display:table; width:100%; margin-bottom:15px}
.cor_comentarios {display:table; width:100%; background-color:#DAEFAA}

.naoAprovado{background-color:#FAA;}

hr{margin:0;}
