/*default*/
.arquivo .icon,
.arquivo.application .icon,
.link .icon {
        background: url('images/fileicons/unknown.png');
}
/*image*/
.arquivo.image .icon {
        background: url('images/fileicons/image.png');
}
/*document*/
.arquivo.text .icon,
.arquivo.application.vnd-oasis-opendocument-text .icon,
.arquivo.application.pdf .icon,
.arquivo.application.msword .icon,
.arquivo.application.vnd-openxmlformats-officedocument-wordprocessingml-document .icon {
        background: url('images/fileicons/document.png');
}
/*links*/
.link .icon {
        background: url('images/fileicons/www.png')
}