body{background-color:#090826;
font-family: Tahoma, Verdana, Trebuchet MS;
}

#containerMenu{
	position:absolute;
	top:50%;
	height:768px;
	width:1024px;
	background-image:url(images/back.png);
	margin:-384px 0;
}

#infoTurma{
	background-image:url(images/window.png);
	position:absolute;
	width:362px;
	height:241px;
	top:191px;
	left:29px;
	padding: 37px 15px 17px 15px;
}

#wrapperBotoesEsquerda{
	position:absolute;
	top:502px;
	left:90px;
	height:151px;
}

.botaoEsquerda{ 
	width:270px;
	height:37px;
	margin-top:20px;
}
#botaoContatos{
	background-image:url(images/b_contatos.png);
	margin-top:0px !important;
}
#botaoFuncionalidade{background-image:url(images/b_funcionalidade.png);}
#botaoPlaneta{background-image:url(images/b_planeta.png);}

#botaoContatos:hover{
	background-image:url(images/h_contatos.png);
	margin-top:0px !important;
}
#botaoFuncionalidade:hover{background-image:url(images/h_funcionalidade.png);}
#botaoPlaneta:hover{background-image:url(images/h_planeta.png);}

#menuDireita{
	position:absolute;
	top:191px;
	left:437px;
}
.botaoDireita{
	width:153px;
	height:49px;
	float:left;
	margin-right:6px;
}
#botaoProfessores{background-image:url(images/tab_prof.png);}
#botaoMonitores{background-image:url(images/tab_monitor.png);}
#botaoAlunos{background-image:url(images/tab_alunos.png);}

#botaoProfessores:hover{background-image:url(images/htab_prof.png);}
#botaoMonitores:hover{background-image:url(images/htab_monitor.png);}
#botaoAlunos:hover{background-image:url(images/htab_alunos.png);}

#botaoAdicionar{
	background-image:url(images/b_add.png);
	height:37px; width:176px;
	position:relative;
	left:170px;
	bottom:25px;
}
#botaoAdicionar:hover{background-image:url(images/h_add.png);}

#wrapperClasses{
	height:49px;
}

#listasMembrosTurma{
	height:400px;
	width:471px;
	background-image:url(images/list_border.png);
	
	line-height:50px;
	margin-top:13px;
	
	position:relative;
}

#listaMembrosTurma img{
	vertical-align: middle;
	float:right;
	margin-right:10px;
}

.membroTurma{
	height:50px;
	padding-left:15px;
}
.comFundo{
	background-image:url(images/barra_transp.png);
}

.botaoUsuario{height:50px; width:25px; float:right; margin-right:10px;}
.iconeDeletar{background-image:url(images/icon_delete.png);}
.iconeCarteira{background-image:url(images/icon_carteira.png);}
.iconePromocao{background-image:url(images/icon_promotion.png);}

.iconeDeletar:hover{background-image:url(images/hicon_delete.png);}
.iconeCarteira:hover{background-image:url(images/hicon_carteira.png);}
.iconePromocao:hover{background-image:url(images/hicon_promotion.png);}

.listaMembros{
	height:98%;
	width:462px;
	
	padding-left: 5px;
	
	position:absolute;
	top:4px;
	
	overflow-y:auto;
}

/*por default esses não aparecem sem algo ser clicado*/
#listaMonitores, #listaAlunos{
	display: none;
	opacity:0;
}

#fundo_lbox{
	opacity:0.7;
	position:fixed;
	z-index:500;
	background-color:#FFF;
	left:0%;
	top:0%;
	height:100%;
	width:100%;
	display:none;
}

.light_box{
	display:none;
	z-index:501;
	
	position:absolute;
	top:50%;
	left:50%;
	height:600px;
	width:800px;
	margin:-300px -400px;
	background-color:white;
	background-image: url('images/lightboxes/back.png');
}

#light_box_troca{
	background-image: url('images/lightboxes/back.png');
	background-repeat: no-repeat;
	width: 800px;
	height: 600px;
}

/*light box/*/
.frase{
	background-repeat: no-repeat;
	height: 19px;
	padding: 0;
	margin:240px auto 0;
	overflow:hidden;
	text-indent:-9999px;
}
#frase_nivel{width: 402px; background-image: url('images/paraquenivel.png');}
#frase_funcionalidade{width: 309px;background-image: url('images/quefuncionalidade.png');}

.botao_troca{
	background-repeat: no-repeat;
	width:177px;
	height:37px;
	cursor:pointer;
	position:absolute;
	top:275px;
}

#botao_troca_aluno{
	background-image: url('images/lightboxes/b_aluno.png');
	left:500px;
}
#botao_troca_monitor{
	background-image: url('images/lightboxes/b_monitor.png');
	left:300px;
}
#botao_troca_professor{
	background-image: url('images/lightboxes/b_prof.png');
	left:100px;
}

#botao_troca_aluno:hover{background-image: url('images/lightboxes/h_aluno.png');}
#botao_troca_monitor:hover{background-image: url('images/lightboxes/h_monitor.png');}
#botao_troca_professor:hover{background-image: url('images/lightboxes/h_prof.png');}

#lista_funcionalidades{margin-left:28%;}

/* coisas da troca de nivel */
#light_box_dadosusuario * {margin-left:40px;}
#light_box_dadosusuario form * {margin-left:0px;}
.esconde_texto{
	background-repeat: no-repeat;
	overflow:hidden;
	text-indent:-9999px;
}
#frase_cadastro{width: 330px; background-image: url('images/cadastro/cadastrousuario.png');}
#cadastro_textoNome{
	background-image: url('images/cadastro/nome.png');
	width: 176px;
	height: 37px;
	position:absolute;
	
}
#cadastro_textoApelido{
	background-image: url('images/cadastro/apelido.png');
	width: 176px;
	height: 37px;
}
#cadastro_textoSexo{
	background-image: url('images/cadastro/sexo.png');
	width: 176px;
	height: 37px;
}
#cadastro_textoSenha{
	background-image: url('images/cadastro/senha.png');
	width: 176px;
	height: 37px;
}
#cadastro_textoEmail{
	background-image: url('images/cadastro/email.png');
	width: 176px;
	height: 37px;
}
#cadastro_textoMasculino{
	background-image: url('images/cadastro/masculino.png');
	width: 86px;
	height: 19px;
}
#cadastro_textoFeminino{
	background-image: url('images/cadastro/feminino.png');
	width: 77px;
	height: 19px;
}
#lista_semEstilo{
	list-style:none;
}
/* fim troca nivel */
