#topicos { width:100%; float:left; margin-bottom:12px; margin-top:12px}

.esq { display:table-cell; float:left; width:40%; padding:10px}

.dir { display:table-cell; float:right; width:47%; padding:10px}
.dir a { text-decoration:none}
.dir input { margin-left:10px}

.imagem { width:66px; height:66px; background-color:white; border:1px solid #888888; 
float:left; margin-right:15px; display:table-cell}

.mensagens {margin-top:5px}

.criado_por {color:#999999;}

.nova_mensagem {width:100%; margin-bottom:22px; float:left; display:none}

#bloco_mensagens {width:100%; max-width:660px; float:left; margin-bottom:12px; border-left:0; border-right:0; border-bottom:0; margin-top:12px; background-color : transparent;}
#bloco_mensagens li {margin-bottom:20px; width:100%; float:left}
#bloco_mensagens ul {margin:22px}

.info {
	float:left;
	width:100%;
	display:table-cell;
	margin-top:10px;
	border-bottom: 1px solid #888888;
	padding-bottom:10px;
}
.nome {float:left;}
p.data {float:right;}
span.data{color:#C60;}

.bts_msg {width:40%; display:table-cell}
.bts_msg input{margin-left:10px;}

.resposta {width:636px; padding:22px; clear:both;}

.botao_procurar {float:right}

#box_procurar {padding-top:10px;}

/*#resultado_pesquisa {float:left}*/

#margem_dir {padding-top:25px;}

.box_dados {width:100%; float:left; display:table-cell}
.bts_dir {width:30%; float:right; display:table-cell;}

.espaco_input {margin-left:22px;}

#criar_topico { width:100%; float:left}
#criar_topico input[type=text] {width:100%; margin-top:5px}
#criar_topico input[type=image] {margin-left:22px;}
#criar_topico textarea {width:100%; margin-top:5px; resize:none}

.espaco_linhas {margin-top:22px}

#cancela_msg{position:relative; cursor:pointer}
#confirm_msg{position:relative}

.botao_transparente{
	margin:0;
	padding:0;
	border:0;
	background-color: transparent;
}

#responder_topico{cursor:pointer; float:right;}

#responder_topico_cima{cursor:pointer}
#responder_topico_baixo{cursor:pointer}

.limite_resposta{
	position:relative;
	float:left;
}
.texto_resposta {
	display:table-cell;
	word-wrap: break-word;
	max-width: 500px;
}

.anterior{
	border:1px silver solid;
	margin:4px;
	font-style:italic;
	background-color:#ccecf4;
}
.cor3{
	background-color:#EEF5F5;
	display:table;
	margin-top : 5px;
	margin-bottom : 5px;
}

.troca_paginas{
	text-align: center;
}

.citacao{
	border: 1px solid #C60;
	border-radius: 1em;
	padding: 3px;
	margin: 5px;

	text-align: justify;
	text-justify:newspaper; /* isso pode dar problemas com linguagens asiáticas */
	display: inline-block;
}

#resultado_pesquisa {width:100%; float:left; margin-bottom:12px; border-left:0; border-right:0; border-bottom:0; margin-top:12px; background-color : transparent;}

#dinamica li {
	list-style: none;
	word-wrap: break-word;
}

#dinamica .alterna:nth-child(2n){
	background-color:#DEE5E5;
}

#dinamica .alterna:last-child{
	border-bottom: 0px solid black;
}

.alterna{
	background-color:#EEF5F5;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid black;
}

.clicavel{cursor: pointer;}

h1{
	text-overflow: ellipsis;
	max-width:660px;
	overflow: hidden;
	background-color: #53686F;
}

.titulo_topico{
	text-transform: uppercase;
}
#bloco_mensagens ul.anexos {
	display: inline-block;
	min-width: 50%;
	margin: 0;
}
#bloco_mensagens ul.anexos * {
	float: none;
}
#bloco_mensagens ul.anexos  li {
	margin: 5px;
}
ul.anexos {
	background: rgb(223, 236, 227);
	border: 1px solid #C2C2C2;
	margin: 0;
}
ul.anexos li {
	margin: 15px;
}
ul.anexos li.titulo {
	font-weight: bold;
}
ul.anexos li.arquivo {
	padding-left: 55px;
}
ul.anexos li.arquivo * {
	vertical-align: middle;
	text-decoration: none;
}
ul.anexos li.arquivo .icon {
	display: inline-block;
	width: 22px;
	height: 22px;
}
ul.anexos li.miniatura a {
	display: inline-block;
	padding: 4px;
}
ul.anexos li.miniatura a:hover {
	background-color: #C8E2DF;
}