#canvas_personagem {
	vertical-align: middle;
	margin: 10px 25px;
}

/* ============== MENU ============== */

#menu_criar_personagem {
	vertical-align: middle;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu_criar_personagem > li {
	background-image: url("../images/botoes/personagem_botoes.png");
	display: block;
	text-indent: -999px;
	overflow: hidden;
	width: 65px;
	height: 49px;
	padding: 0;
	margin: 15px 20px 15px 20px;
}
#menu_criar_personagem > li.selected {
	margin: 15px 0px 15px 40px;
}
#opcoes_cabelo {
	display: block;
}
#opcoes_olhos {
	display: none;
}
#opcoes_pele {
	display: none;
}
#opcoes_cinto {
	display: none;
}
#opcoes_luvas {
	display: none;
}
#opcoes_criar_personagem {
	background-color: #ffffff;
	border: 1px solid #D0DBDB;
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	margin: 0px 10px 0px 0;
	padding: 10px;
}
#bt_cabelo{ background-position: 0px 0px; }
#bt_cabelo:hover { background-position: -76px 0px; }
#bt_cabelo.selected { background-position: -153px 0px; }
#bt_olhos { background-position: 0px -60px; }
#bt_olhos:hover { background-position: -76px -60px; }
#bt_olhos.selected { background-position: -153px -60px; }
#bt_pele { background-position: 0px -120px; }
#bt_pele:hover { background-position: -76px -120px; }
#bt_pele.selected { background-position: -153px -120px; }
#bt_cinto { background-position: 0px -180px; }
#bt_cinto:hover { background-position: -76px -180px; }
#bt_cinto.selected { background-position: -153px -180px; }
#bt_luvas { background-position: 0px -240px; }
#bt_luvas:hover { background-position: -76px -240px; }
#bt_luvas.selected { background-position: -153px -240px; }

/* ============== CABELO ============== */
#cabelo_cor {
	clear: both;
	display: block;
	list-style: none;
	text-align: center;
	padding: 10px 0 0;
}
#cabelo_cor > li {
	background-size: 100% 100%;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-indent: -999px;
	overflow: hidden;
	padding: 0;
	margin: 10px 5px 0;
}

#cabelo_castanho {
	background-image: url('../images/desenhos/cabelos/castanho/cabelo2.png');
}
#cabelo_preto {
	background-image: url('../images/desenhos/cabelos/preto/cabelo2.png');
}
#cabelo_loiro {
	background-image: url('../images/desenhos/cabelos/loiro/cabelo2.png');
}
#cabelo_ruivo {
	background-image: url('../images/desenhos/cabelos/ruivo/cabelo2.png');
}

#cabelo_estilo {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#cabelo_estilo > li {
	background-image: url('../images/desenhos/cabelos/fundo_cabelos.png');
	background-size: 100% 100%;
	border: 1px solid #aaaaaa;
	display: block;
	float: left;
	margin: 4px;
	padding: 0px;
	width: 50px;
	height: 50px;
}
#cabelo_estilo > li > .img {
	background-size: 100% 100%;
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -999px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}


/* ============== OLHOS ============== */
#opcoes_olhos > ul {
	display: block;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
#opcoes_olhos > ul > li {
	display: inline-block;
	text-indent: -999px;
	overflow: hidden;
	width: 92px;
	height: 31px;
	margin: 20px 15px;
	padding: 0px;
}

/* ============== PELE ============== */
#opcoes_pele > ul,
#opcoes_cinto > ul,
#opcoes_luvas > ul {
	display: block;
	list-style: none;
}
#opcoes_pele > ul > li {
	border: 1px solid #aaaaaa;
	display: inline-block;
	float: left;
	width: 52px;
	height: 52px;
	text-indent: -9999px;
	overflow: hidden;
	padding: 0;
	margin: 3px;
}
#opcoes_cinto > ul > li,
#opcoes_luvas > ul > li {
	border: 1px solid #aaaaaa;
	display: inline-block;
	float: left;
	width: 52px;
	height: 30px;
	text-indent: -9999px;
	overflow: hidden;
	padding: 0;
	margin: 3px;
}
/* vim: ts=4 sts=4 sw=4 expandtab
